@import "tailwindcss";

[data-theme='dark'] {
  --bg-color: #1a202c;
  --text-color: white;
}
  
[data-theme='light'] {
  --bg-color: white;
  --text-color: #1a202c;
}
  
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
